<!DOCTYPE html>
<html>
  <head>
    <title>Django Rest Framework Mongoengine</title>
  </head>
  <b>Sample App using django-rest-framework and Mongoengine</b>
  <body>
          <div class="nav-collapse collapse">
            <ul class="nav"><b>REST API</b>
              <li><a href="/users">Users</a></li>
              <li><a href="/blogs">Blogs</a></li>
              <li><a href="/posts">Posts</a></li>
              <li><a href="/comments">Comments</a></li>
            </ul>
            <ul class="nav"><b>Django Admin</b>
              <li><a href="/admin">Admin</a></li>
            </ul>
          </div><!--/.nav-collapse -->
  </body>
</html>

